.container-39{
    color: white;
    font-family: mahesh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    align-items: center;
}
.container-39 form{
    padding: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  align-items: center;
  font-size: 14px;

width: 100%;
  background-color: rgb(22, 22, 27);
}
.container-39 form button{
    padding: 7px 20px;
    border-radius: 3px;
    font-size: 14px;
    width: 100px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    font-family: mahesh;
    
    font-weight: 600;
    
}