.container-31 {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  color: white;
  font-family: mahesh;
}
.container-31-1-order {
  background-color: #16161c;
  padding: 10px;
  min-height: calc(100vh - 10vh);
}
.container-31-1-order div img {
  width: 2vw;
}
.container-31-1-order div {
  padding: 5px 20px;
  display: flex;
  gap: 5vw;
  border-bottom: solid rgba(255, 255, 255, 0.282) 1px;
  align-items: center;
  margin-bottom: 10px;
}
.container-31-2-order {
  background-color: #16161c;
  min-height: calc(100vh - 10vh);
  width: 30vw;
}
.container-31-1-order div :nth-child(2) {
  width: 10vw;

  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container-31-2-order {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.container-31-2-order div {
  margin-top: 20px;
}
.container-31-2-order div span {
  display: block;
  margin-top: 10px;
}
.process-status {
  width: 8vw;
  margin-left: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: black;
  margin-top: 10px;
  background-color: green;
}
.bg-blue{
    background-color: rgb(153, 153, 251);
}
.bg-red{
    background-color:rgb(209, 3, 3);
    
}
