.container-21 {
  margin: 20px 20px;
  color: white;
  font-family: mahesh;
}
.container-21-1 {
  border-bottom: solid rgba(255, 255, 255, 0.119) 0.3px;
}
.order-status {
  color: orangered;
}
.order-cancle {
  color: red;
  text-align: center;
  padding: 6px 10px;
  margin-left: 30px;
  border: solid rgba(255, 255, 255, 0.333) 0.2px;
  height: 40px;
  width: 10vw;
}
.orderDetail {
  padding: 20px 30px;
  display: flex;
  margin-top: 20px;
  background-color: #16161c;
  gap: 10px;
  border-bottom: solid rgba(255, 255, 255, 0.119) 0.3px;
}
.orderDetail img {
  width: 5vw;
}
.shipping-address {
  width: 30vw;
  font-size: 15px;
}
.shipping-address > span {
  font-weight: 600;
}
.product-order{
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
justify-content: center;
}
.productInfo {
  width: 100vw;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.productInfo .price {
  font-size: 18px;
  font-weight: 600;
}
.productInfo .name {
  font-size: 17px;
  margin-bottom: 5px;
}
.productInfo .description {
  font-size: 13px;
  margin-bottom: 5px;
}
@media (max-width: 600px) {
  .container-21 {
    margin: 10px 0px;
    width: 100vw;
    padding: 10px;
  }
  .container-21-2 {
    padding: 0px;
    gap: 10px;
   
  }
  .product-order{
    gap: 5px;
  }
  .orderDetail {
    width: 100%;
    gap: 20px;
    position: relative;
  }
  .productInfo {
    width: 100%;
  }
  .productInfo .name {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .orderDetail img {
    width: 20vw;
  }
  .shipping-address {
    width: 100%;
  }
  .orderDetail {
   
    padding: 10px;
  

  }
  .order-cancle {
    width: 20vw;
    margin: 10px 0px;
  }
  .order-status {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .productInfo{
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
  }
  .price div {
    font-size: 17px;
    font-weight: 500;
  }
  .shipping-address {
    margin-top: 10px;
  }
}
