body {
  background-color: #0f1014;
}
.container-2 {

  width: 100%;
  min-height: 90vh;

  z-index: -1;
position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
 scroll-snap-type:x mandatory;


}
.container-2 img {
width: 100vw;
position:absolute;
top: 0px;
z-index: -1;

  scroll-snap-align:center;
  border-radius: 5px;
  

  
}
.tag-line{
  top:0px;
  position: absolute;
  background:linear-gradient(to top,#131217,rgba(0, 0, 0, 0));
  font-family: mahesh;
z-index: -1;
  display: flex;
  padding: 10px;
  color:rgb(231, 228, 228);
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 105%;
  
  font-weight: 600;
  font-size: 5rem;
}

@media (max-width:600px){
  .container-2 img{
    width: 100vw;
    height: 100px;
    object-fit: cover;
  }

}
@media (max-width: 768px) {
  .container-2{
    
    min-height: 30vh;
  }
  .tag-line{
    font-size: 1.5rem;
    font-weight: 600;
  }
  .tag-line{
    width: 100%;
  }
  .container-2 img {
    width: 100%;
   object-fit:cover;
   border-radius: 0px;
   min-height: 30vh;
  }
}
@media (min-width:769px) and (max-width:1200px){
  .container-2{
    padding: 0px;

   min-height: 40vh;
  }
  .tag-line{
    font-size: 3rem;
    font-weight: 600;
    
    
  }
  .container-2 img {
    width: 100%;
   object-fit:cover;
  
   min-height: 40vh;
   border-radius: 0px;
  }
 }

 .product-size div{

  margin-left: 10px;
 }
 .shipping_info{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 10px;
  flex-direction: column;
  height: 100vh;
  font-family: mahesh;
 }
 .shipping_info form{
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  gap: 10px;
  padding: 10px;
  width: 45vw;
  padding: 30px;
  border-radius: 5px;
 }
 .shipping_info h3{
  text-transform: uppercase;
 }
 .shipping_info_input{

  padding: 10px !important;
 
 }

 .shipping_info button,.checkoutFrom form button{
background-color: green;
width: 8vw;
margin-top: 5px;
outline: none;
text-decoration: solid;
font-family: mahesh;
border: none;
border-radius: 3px;
height: 40px;
font-size: 15px;
cursor: pointer;
font-weight: 500;
}

.checkoutFrom{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}
.checkoutFrom form{
  color: white  !important;
  background-color: rgb(234, 233, 233);
  width: 30vw;
  padding: 30px;
  border-radius: 3px;
}
.checkoutFrom form button{
background-color: rgb(31, 31, 222);
color: white;
font-weight: 600;
}
