.container-14 {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: mahesh;
  padding: 10px;
}
.container-14 form {
  background-color: rgb(34, 34, 34);
  padding: 30px;
  border-radius: 5px;
}
.container-14 form h1 {
  color: green;
  text-align: center;
  margin: 10px 0px;
}
.input-container {
  margin-top: 20px;
}
.input-container input {
  color: white;
  width: 20vw;
  height: 40px;
  outline: none;

  border: none;

  padding: 20px;
  background-color: transparent;
  margin-top: 10px;
  border-radius: 5px;
  border-bottom: solid green 1px;
}
.submit-button {
  width: 10vw;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  font-weight: 600;
  font-family: mahesh;
  background-color: green;
  cursor: pointer;
}
.forgot {
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  margin-top: 10px;
}
@media (max-width: 728px) {
  .input-container label {
    font-size: 15px;
  }
  .container-14 {
    padding: 30px 10px;

    align-items: flex-start;
  }
  .input-container input {
    width: 80vw;
    margin-top: 5px;
  }
  .input-container {
    margin-top: 10px;
  }
  .submit-button {
    width: 50vw;
    height: 35px;
  }
}
@media (min-width: 729px) and (max-width: 1200px) {
  .input-container input {
    width: 60vw;
    margin-top: 5px;
  }

  .input-container {
    margin-top: 15px;
  }
  .submit-button {
    width: 30vw;
    height: 40px;
  }
}
